ansible==7.7.0
gear
otcextensions==0.31.0
#openstacksdk==0.61.0
openstacksdk==1.4.0
GitPython
statsd
influxdb
pbr
alerta
#stevedore==1.32.0
stevedore>=4.0.0,<5.0
#dogpile.cache==0.9.2
sqlalchemy
psycopg2
